.wrapper {
	flex: 1;
	display: flex;
	justify-content: center;
	align-items: center;
}

.notFound {
	text-align: center;
}

.button {
	margin-top: 15px;
	background: transparent;
	width: 120px;
	padding: 5px;
	border: 2px solid #1e1e1e;
	border-radius: 10px;
	color: #1e1e1e;
}

.button:hover {
	background: #1e1e1e;
	color: #ffffff;
}

.title {
	color: #1e1e1e;
	font-size: 22px;
	font-weight: 700;
	margin-bottom: 20px;
}

.text {
	color: #1e1e1e;
	font-size: 15px;
	font-weight: 800;
	line-height: 24px;
}
