.header {
	margin-bottom: 40px;
}

.headerInput {
	display: flex;
	margin-bottom: 15px;
}

.searchInput {
	padding: 15px;
	border-radius: 10px;
	border: 1px solid #1e1e1e;
	display: flex;
	align-items: center;
	height: 40px;
}

.search {
	width: 100%;
}

.icon {
	margin-right: 15px;
}

.input {
	padding: 15px;
	border-radius: 10px;
	border: 1px solid #1e1e1e;
	width: 100%;
	height: 40px;
}

.button {
	width: 40px;
	height: 40px;
	border-radius: 10px;
	border: 1px solid #1e1e1e;
	background: none;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 15px;
}

.button_active {
	border: 2px solid #e7c68d;
}
